<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>template</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <style>
      p {
        color: black;
        background-color: pink;
        padding: 10px;
        border: 5px solid azure;
      }
    </style>

  <body>

  <h1>15-112 HW Style Template</h1>
  <pre><code class = "language-python">

#################################################################
# Hw[placeholder]
# Your Name: [placeholder]
# Your Andrew ID: [placeholder]
# Your Section: [placeholder]
#################################################################
import


#################################################
# Hw[placeholder] COLLABORATIVE problems
#################################################


#################################################
# Hw[placeholder] SOLO problems
#################################################



#################################################
# Hw[placeholder] Graphic Functions
# All graphics must go under here to avoid angering the autograder!
# ignore_rest
#################################################


#### Graphics Functions ####
from tkinter import *

#################################################
# Hw[placeholder] Test Functions
#################################################


#################################################
# Hw[placeholder] Main
#################################################

def testAll():
    # Please call your test functions here
    pass

def main():
    testAll()

if __name__ == '__main__':
    main()

  </code></pre>


  </body>
</html>
